.h3 {
  color: #2908a0;
  font-size: 24px;
  margin-bottom: 20px;
}

.h2 {
  color: #f3410bf6;
  font-size: 24px;
  margin-bottom: 20px;
   justify-content: center;
}

.h4 {
  color: #ebdb08f6;
  font-size: 24px;
  margin-bottom: 20px;
   justify-content: center;
}

.booking-item {
  border: 1px solid #8dbbe0;
  padding: 5px;
  margin-bottom: 2px;
text-align: left;
border-width: 1px 0px;
  
}

/* .form {
  display: flex;
  flex-direction: column;
  gap: 2px;
} */